<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Matrix scaling</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div
        tabindex="0"
        class="container"
        @click="escapeGlobal"
        @keydown.esc="escapeGlobal"
      >
        <div class="editor">
          <h2>Matrix setting</h2>
          <form v-on:submit.prevent="clearMatrix">
            <label for="row-num">Row number: </label>
            <input type="number" v-model="inputRowNum" id="row-num" min="1" step="1" placeholder="row number (1-)">
            <label for="column-num">Column number: </label>
            <input type="number" v-model="inputColumnNum" id="column-num" min="1" step="1" placeholder="column number (1-)">
            <button>Initialize</button>
          </form>
    
          <p>Click cells to edit corresponding values (after editing press enter key):</p>
          <table>
            <tbody>
              <tr v-for="(row, rowIndex) in inputMatrix">
                <td
                  v-for="(value, columnIndex) in row"
                  @click.stop="changeToEdit(rowIndex, columnIndex, $event)"
                >
                  {{ value }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <input
          id="matrix-editor" type="number" min="1" step="1"
          ref="matrixEditor"
          v-show="isEditing"
          :style="{ top: editorY + 'px', left: editorX + 'px' }"
          v-model="editingValue"
          @keyup.enter="edit"
          @keyup.esc="escapeFromEdit"
          @click.stop
        >
  
        <hr>

        <div class="scaling">
          <h2>Matrix scaling</h2>
          <div class="auto">
            <button @click="toggleAutoScaling">{{autoStatus === 1 ? "\u{23F8}" : "\u{23F5}" }}</button>
            <button @click="resetScaling">&#x23F9;</button>
            <label for="interval">
              Interval: 
            </label>
            <input type="range" id="interval_slider" :value="autoIntervalSlider" min="0" max="2" step="1" @input="changeAutoIntervalSlider">
            <input id="interval" :value="autoInterval" type="number" min="1" step="1" @input="changeAutoInterval">
            ms
          </div>
          <div class="manual">
            Manual: 
            <button @click="rowScaling" :disabled="!canRowScale">Row scaling</button>
            <button @click="columnScaling" :disabled="!canColumnScale">Column scaling</button>
          </div>
    
          <div class="result">
            <div class="counter">{{ rowScalingNum }} row scalings</div>
            <div class="counter">{{ columnScalingNum }} column scalings</div>

            <table>
              <tbody>
                <tr class="column-sum">
                  <td class="row-sum"></td>
                  <td v-for="value in columnSum">
                    {{ valueFormat(value) }}
                  </td>
                </tr>
                <tr v-for="(row, index) in matrix">
                  <td class="row-sum">{{ valueFormat(rowSum[index]) }}</td>
                  <td class="value" v-for="value in row">
                    {{ value === 0 ? 0 : (value < 0.01 ? value.toExponential(resultPrecision - 1) : value.toPrecision(resultPrecision)) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <hr>

        <h2>Symmetric capacity</h2>

        <div class="sym-capacity">
          <div class="auto">
            <button @click="toggleAutoScaling">{{autoStatus === 1 ? "\u{23F8}" : "\u{23F5}" }}</button>
            <button @click="resetScaling">&#x23F9;</button>
            <label for="interval">
              Interval: 
            </label>
            <input type="range" id="interval_slider" :value="autoIntervalSlider" min="0" max="2" step="1" @input="changeAutoIntervalSlider">
            <input id="interval" :value="autoInterval" type="number" min="1" step="1" @input="changeAutoInterval">
            ms
          </div>

          <div class="manual">
            Manual: 
            <button @click="updateLeftVar" :disabled="!upgradableLeft">Update left variable</button>
            <button @click="updateRightVar" :disabled="!upgradableRight">Update right variable</button>
          </div>

          <div class="result">
            <div class="counter">left: {{ updateLeftVarNum }} times</div>
            <div class="counter">right: {{ updateRightVarNum }} times</div>
            <p>leftVar: {{ leftVar }}</p>
            <p>rightVar: {{ rightVar }}</p>
            <p>leftCoef: {{ leftCoef }}</p>
            <p>rightCoef: {{ rightCoef }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>
  </body>
</html>
