<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Matrix scaling</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <form v-on:submit.prevent="clear_matrix">
        <label for="row-num">Row number: </label>
        <input type="number" v-model="input_row_num" id="row-num" min="1" step="1" placeholder="row number (1-)">
        <label for="column-num">Column number: </label>
        <input type="number" v-model="input_column_num" id="column-num" min="1" step="1" placeholder="column number (1-)">
        <button>Clear</button>
      </form>

      <table>
        <tbody>
          <tr v-for="(row, row_index) in input_matrix">
            <td
              v-for="(value, column_index) in row"
              @click="edit_input_matrix(row_index, column_index, $event)"
            >
              {{ value }}
            </td>
          </tr>
        </tbody>
      </table>

      <input
        :style="{ top: editorY + 'px', left: editorX + 'px' }"
        id="matrix_editor" type="number" min="1" step="1"
      >

      <button @click="row_scaling">Row scaling</button>
      <button @click="column_scaling">Column scaling</button>
      <button @click="toggle_auto_scaling">Auto {{ auto_status === 1 ? "ON" : "OFF" }}</button>
      <button @click="reset_scaling">Reset scaling</button>

      <div class="counter">Row scaling: {{ row_scaling_num }}</div>
      <div class="counter">Column scaling: {{ column_scaling_num }}</div>
      <table>
        <tbody>
          <tr v-for="row in matrix">
            <td v-for="value in row">
              {{ value }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>
  </body>
</html>
