body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: "Helvetica", sans-serif;
  color: #282828;
}

.container {
  margin: 10px 20px 0;
  width 100%;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

.editor {
  margin-bottom: 20px;
}

.editor label {
  margin-left: 5px;
}

.editor p {
  margin-left: 5px;
  font-size: 15px;
}

input {
  font-size: 16px;
  width: 50px;
  height: 30px;
  margin-right: 10px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}

table {
  margin: 10px 0 0 10px;
  font-size: 18px;
}

td {
  width: 30px;
}

.auto {
  margin-left: 5px;
}

.manual {
  margin: 5px 0px 0px 5px;
}

.scaling button {
  margin-right: 5px;
}

.scaling label {
  margin-left: 5px;
}

.result {
  margin: 10px 0 0 5px;
}

#matrix-editor {
  position: absolute;
}
