body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: "Helvetica", sans-serif;
  color: #282828;
}

.container {
  margin: 10px 20px 0;
  width 100%;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}

table {
  margin: 10px 0 0 10px;
  font-size: 18px;
}

td {
  width: 40px;
}

input {
  font-size: 16px;
  width: 50px;
  height: 30px;
}

#editor {
  margin-bottom: 20px;
}

#editor label {
  margin-left: 5px;
}

#editor p {
  margin-left: 5px;
  font-size: 15px;
}

#editor input {
  margin-right: 10px;
}

#matrix-file-label {
  padding: 5px;
  font-size: 14px;
  background-color: rgb(239, 239, 239);
  border: 1px rgb(118, 118, 118) solid;
  margin-right: 5px;
}

#matrix-file-label:hover {
  background-color: rgb(222, 222, 222);
  /*border-color: rgb(133, 133, 133);*/
}

#matrix-file {
  display: none;
}

#matrix-editor {
  position: absolute;
}

.auto {
  margin-left: 5px;
  padding: auto 0;
}

.auto button {
  margin-right: 5px;
}

.auto label {
  margin-left: 5px;
}

.interval-slider {
  vertical-align: middle;
}

.manual {
  margin: 5px 0px 0px 5px;
}

.manual button {
  margin-right: 5px;
}

.manual label {
  margin-left: 5px;
}

.result-scaling {
  margin: 10px 0 0 5px;
}

.result-scaling table {
  border-collapse: separate;
  border-spacing: 0 2px;
  margin-bottom: 9px;
}

.column-sum td {
  font-size: 14px;
  margin-bottom: 5px;
  width: 120px;
}

.row-sum {
  font-size: 14px;
  vertical-align: middle;
  width: 100px;
}

.result-symcap {
  margin: 10px 0 150px 5px;
}

.result-symcap table {
  float: left;
}

.result-symcap caption {
  font-weight: normal;
  font-size: 14px;
}

.result-symcap td {
  width: 120px;
}


